<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Banco_De_Sangre.Properties.Settings.DATOSConnectionString"
            connectionString="Data Source=DESKTOP-NC4SAIF\SQÑEXPRESS;Initial Catalog=DATOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Proyecto_Banco_De_Sangre.Properties.Settings.banco_sangreConnectionString"
            connectionString="Data Source=DESKTOP-NC4SAIF\SQÑEXPRESS;Initial Catalog=banco_sangre;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>